# Python cache files and directories
__pycache__/
*.pyc
*.pyo
*.egg-info/
.Python

# pytest cache directory
.pytest_cache/

# pytest output
report.html
assets/
report.xml

#allure
path/to/allure-results